# Dependencies
/node_modules

# Build output
/dist
/out-tsc
/.angular

# IDE
.vscode/
.idea/
*.swp

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System
.DS_Store
Thumbs.db

# Env
.env
